- job:
    name: hafnium-lts-automation
    node: docker-amd64-hafnium-noble
    project-type: freestyle
    description: |
      This job is triggered when a new LTS branch is created in the hafnium repository
      It automatically creates corresponding branches in the following submodules
        hafnium/project/reference
        hafnium/prebuilts
        hafnium/third_party/googletest
        hafnium/third_party/dtc
        ci/hafnium-ci-scripts
        ci/hafnium-job-configs
      If the corresponding LTS branch does not exist in the TF-A repository, the job will also trigger the tf-a-lts-automation job to create it
    disabled: false

    parameters:
      - string:
          name: UPSTREAM_REFNAME
          default: ""
          description: "Ref name from counterpart job (e.g. lts-vX.Y or sandbox/lts-vX.Y)"

    wrappers:
      - timestamps
      - timeout:
          timeout: 120
          fail: true
      - credentials-binding:
          - ssh-user-private-key:
              credential-id: TFA_CI_BOT_USER_SSH_KEY
              key-file-variable: CI_BOT_KEY
              username-variable: CI_BOT_USERNAME
              passphrase-variable: ""

    triggers:
      - gerrit:
          server-name: review.trustedfirmware.org
          trigger-on:
            - ref-updated-event
          projects:
            - project-compare-type: 'PLAIN'
              project-pattern: 'hafnium/hafnium'
              branches:
                - branch-compare-type: 'REG_EXP'
                  branch-pattern: '^(sandbox/)?lts-v.*$'

    builders:
      - shell: |
          echo "***************************************"
          env | grep GERRIT || true
          echo "***************************************"

      - shell: |
          set -eux

          SANDBOX_RUN="false"
          REF="${GERRIT_REFNAME:-${UPSTREAM_REFNAME:-}}"
          echo ${REF} | grep -q "^sandbox/" && SANDBOX_RUN="true" && echo "*** Sandbox run ***"
          BRANCH="${REF#refs/heads/}"
          FORKED_TAG=${BRANCH##*-}
          [ "${SANDBOX_RUN}" = "true" ] && FORKED_TAG="sandbox/${FORKED_TAG}"
          GERRIT_HOST=${GERRIT_HOST:-review.trustedfirmware.org}
          SSH_PARAMS="-o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -o PubkeyAcceptedKeyTypes=+ssh-rsa"
          export GIT_SSH_COMMAND="ssh -p 29418 -i $CI_BOT_KEY ${SSH_PARAMS}"
          GERRIT_SERVER="ssh://${CI_BOT_USERNAME}@${GERRIT_HOST}:29418"


          if [ -n "${UPSTREAM_REFNAME:-}" ]; then
            # Triggered by tf-a-lts-automation
            echo "Triggered by tf-a-lts-automation"
            echo "New LTS branch created: ${BRANCH}"
            MAIN_PROJ="hafnium/hafnium"
          elif [ "${GERRIT_EVENT_TYPE:-}" = "ref-updated" -a \
                 "${GERRIT_OLDREV:-}" = "0000000000000000000000000000000000000000" ]; then
            # Triggered from new LTS branch creation
            echo "New LTS branch created: ${BRANCH}"
          else
            echo "Not a new lts-v* branch event; skipping companion trigger."
            exit 0
          fi

          _workdir=$(mktemp -d)
          trap '[ -d "${_workdir}" ] && rm -rf "${_workdir}"' EXIT
          git -C ${_workdir} init > /dev/null 2>&1

          # Create branch on the sub-modules
          echo "Create branch ${BRANCH} on the sub-modules"
          repos="${MAIN_PROJ:-} \
                 hafnium/project/reference \
                 hafnium/prebuilts \
                 hafnium/third_party/googletest \
                 hafnium/third_party/dtc \
                 ci/hafnium-ci-scripts \
                 ci/hafnium-job-configs"

          for r in ${repos};
          do
              echo "Create branch \"${BRANCH}\" from tag \"${FORKED_TAG}\" in the \"${r}\" project"
              if ! git ls-remote --exit-code "${GERRIT_SERVER}/${r} ${BRANCH} >/dev/null 2>&1; then
                git -C "${_workdir}" fetch ${GERRIT_SERVER}/${r} ${FORKED_TAG} || \
                (echo "Can not find \"${FORKED_TAG}\" tag on ${r} repository"; exit 1)
                git -C "${_workdir}" push ${GERRIT_SERVER}/${r} FETCH_HEAD^{commit}:refs/heads/${BRANCH}
              fi
          done

      - conditional-step:
          condition-kind: shell
          condition-command: |
              set -eux

              COUNTERPART_PROJ="TF-A/trusted-firmware-a"
              GERRIT_HOST=${GERRIT_HOST:-review.trustedfirmware.org}
              SSH_PARAMS="-o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -o PubkeyAcceptedKeyTypes=+ssh-rsa"
              export GIT_SSH_COMMAND="ssh -p 29418 -i $CI_BOT_KEY ${SSH_PARAMS}"
              GERRIT_SERVER="ssh://${CI_BOT_USERNAME}@${GERRIT_HOST}:29418"
              REF="${GERRIT_REFNAME:-}"
              echo ${REF} | grep -q "^sandbox/" && echo "*** Sandbox run ***"
              BRANCH="${REF#refs/heads/}"

              # Must be a Gerrit ref-updated new-branch event
              [ "${GERRIT_EVENT_TYPE:-}" = "ref-updated" -a \
                "${GERRIT_OLDREV:-}" = "0000000000000000000000000000000000000000" ] || exit 1

              # Check if branch exists already in TF-A
              if git ls-remote --exit-code "${GERRIT_SERVER}/${COUNTERPART_PROJ}" "${BRANCH}" >/dev/null 2>&1; then
                echo "Branch exists in ${COUNTERPART_PROJ}, do not trigger counterpart"
                exit 1
              fi
              echo "Branch missing, trigger tf-a-lts-automation"
              exit 0
          steps:
            - trigger-builds:
                - project: 'tf-a-lts-automation'
                  block: false
                  predefined-parameters: "UPSTREAM_REFNAME=${GERRIT_REFNAME}"

